@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{

    background-color: aliceblue;
    min-width: 375px;
    min-height: 667px;
    margin: 0;

}

header{


    color: black;
    width: 100vw;
    height: 10vh;
    font-family: Montserrat,Arial, sans-serif;
    background-color: bisque;
    text-align: center;
    font-size: 300%;

}
div#div1{

    position: absolute;
    min-width: 100vw;
    min-height: 60vh;

}


footer{

    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content:center;
    align-items: baseline;
    background-color:cornflowerblue;
    padding: auto;
    margin: auto;
    
}

#box{
  
    color: black;
    font-family:'Montserrat';
    font-weight: bolder;
    width: 80vw;
    margin: 0;
    bottom: 2vw;
    padding: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: auto;
    background:moccasin;
    border-radius: 8px;
    border: 1px solid moccasin;
    display: block;
    justify-content: center;
    text-align: center;


}

a{

    color: black;
    
}


a img[src$=".svg"]{

    opacity: 25%;
  
  }

a img[src$=".svg"]:hover{

    opacity: 100%;
    transform: scale(1.2);
    
  }